<h1>Listing tickets</h1>
<form id="filter" class="form-search" >
  <input type="text" id="key" class="input-medium search-query">
  <button type="submit" class="btn">Filter</button>
</form>

<table id="tickets-table">
  <tr>
    <th>Carrier</th>
    <th>Price</th>
    <th>Departure</th>
    <th>Arrival</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>
