<p>
  <b>Carrier:</b>
  <%= carrier %>
</p>

<p>
  <b>Price:</b>
  <%= price %>
</p>

<p>
  <b>Departure:</b>
  <%= departure %>
</p>

<p>
  <b>Arrival:</b>
  <%= arrival %>
</p>


<a href="#/index">Back</a>