<div id="tickets"></div>

<script type="text/javascript">
  $(function() {
    window.router = new Double.Routers.TicketsRouter({tickets: <%= @tickets.to_json.html_safe -%>});
    Backbone.history.start();
  });
</script>