<h1>New t</h1>

<form id="new-t" name="t">
  <div class="field">
    <label for="carrier"> carrier:</label>
    <input type="text" name="carrier" id="carrier" value="<%= carrier %>" >
  </div>

  <div class="field">
    <label for="price"> price:</label>
    <input type="text" name="price" id="price" value="<%= price %>" >
  </div>

  <div class="field">
    <label for="departure"> departure:</label>
    <input type="text" name="departure" id="departure" value="<%= departure %>" >
  </div>

  <div class="field">
    <label for="arrival"> arrival:</label>
    <input type="text" name="arrival" id="arrival" value="<%= arrival %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create T" />
  </div>

</form>

<a href="#/index">Back</a>